.content {
  transition: 0.3s ease;
}

.tabs {
  margin: 0.5em 0 2em;
  display: block;
}

.tablinks {
  padding: 0.6em 2em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  overflow: hidden;
  border-bottom: 2px solid rgba(17, 17, 17, 0.1333333333);
  transition: 0.3s ease;
}

.tablinks.active {
  color: var(--color-accent-1);
  border-bottom: 2px solid var(--color-accent-1);
  z-index: 0;
}

.tablinks.active p,
.tablinks.active:hover p {
  color: var(--color-accent-1);
  opacity: 1;
}

.tablinks p {
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: 0.5s ease;
  padding: 0;
  margin: 0;
  color: #686868;
  backface-visibility: hidden;
  font-weight: 400;
}

.tablinks:hover p {
  color: var(--color-accent-1);
  opacity: 1;
}

.wrapper_tabcontent {
  position: relative;
  overflow: hidden;
  transition: all 1s ease;
  opacity: 1;
}

.tabcontent {
  display: none;
  padding-top: 10px;
  min-height: 180px;
}

@keyframes tabEffect {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}
.tabcontent.active {
  transition: all 1s ease;
  display: block;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cost-card {
  padding: 1em;
  margin-bottom: 1em;
  border: 2px solid var(--color-accent-1);
  border-radius: 28px;
  text-align: center;
}

.services-card {
  margin-bottom: 3em;
}

.services-card img {
  margin: 0 auto;
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s ease-in-out;
}

.services-card:hover img {
  transform: scale(1.05);
}

.service-item {
  padding: 2em 0;
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1333333333);
}

.service-item div:first-child {
  display: flex;
  align-items: center;
}

@media (min-width: 767px) {
  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tablinks {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}
