{% include 'partials/head.njk' %}
{% include 'partials/header.njk' %}

<section class="service-mackbook pt-medium pb-large">
    <div class="container">

        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="single-post-title-wrap">
                    <div class="breacrumbs">
                        <a href="/">
                                Główna
                            </a>
                        <span>
                                | 
                            </span>
                        <a href="/naprawa">
                                Naprawa
                            </a>
                        <span>
                                |
                            </span>
                        <span>
                            {{ title }}
                        </span>
                    </div>
                    <h1 class="single-post-title mt-4 mb-5">
                        Naprawa {{ title }}
                    </h1>
                </div>
            </div>
        </div>

        <div class="row gx-5 service-item">
            <div class="col-3 col-md-2">
                <img src="/assets/img/services/items-mackbook/instalacja-systemu.png">
            </div>
            <div class="col-9 col-md-3">
                <h3 class="h5">
                    Instalacja systemu MacOSX i oprogramowania {{ title }}
                </h3>
                <p class="mt-4">
                    Cena: {{ instalacja_systemu }}
                </p>
            </div>
            <div class="col-md-5">
                <p class="mt-4">
                   Twój MacBook nie działa tak płynnie jak na początku? Sprawdzonym sposobem na odświeżenie Twojego sprzętu jest wgranie nowego systemu! Zapraszamy do naszego serwisu!
                </p>
            </div>
            <div class="col-md-2">
                <p class="mt-4">
                    <a href="/zglos.php" class="button">Zamów</a>
                </p>
            </div>

        </div>
        
        <div class="row gx-5 service-item">
            <div class="col-3 col-md-2">
                <img src="/assets/img/services/items-mackbook/wymiana-dysku.png">
            </div>
            <div class="col-9 col-md-3">
                <h3 class="h5">
                    Wymiana dysku twardego {{ title }}
                </h3>
                <p class="mt-4">
                    Cena: {{ wymiana_dysku_twardego }}
                </p>
            </div>
            <div class="col-md-5">
                <p class="mt-4">
                   Na ekranie laptopa nagle pojawiły się paski? Masz problem z zainstalowaniem sterowników? Najprawdopodobniej uszkodzeniu uległ układ graficzny BGA.W ITech dzięki specjalistycznej aparaturze, wykonamy reballing układu graficznego!
                </p>
            </div>
            <div class="col-md-2">
                <p class="mt-4">
                    <a href="/zglos.php" class="button">Zamów</a>
                </p>
            </div>
        </div>

        <div class="row gx-5 service-item">
            <div class="col-3 col-md-2">
                <img src="/assets/img/services/items-mackbook/wymiana-matrycy.png">
            </div>
            <div class="col-9 col-md-3">
                <h3 class="h5">
                    Wymiana matrycy {{ title }}
                </h3>
                <p class="mt-4">
                    Cena: {{ wymiana_matrycy }}
                </p>
            </div>
            <div class="col-md-5">
                <p class="mt-4">
                  Ekran twojego MacBook’a wygląda jak po wypadku samochodowym? A może pojawiły się na nim kolorowe paski? Przyczyną jest uszkodzona matryca. W ITech wymienimy ją na nową!
                </p>
            </div>
            <div class="col-md-2">
                <p class="mt-4">
                    <a href="/zglos.php" class="button">Zamów</a>
                </p>
            </div>
        </div>

        <div class="row gx-5 service-item">
            <div class="col-3 col-md-2">
                <img src="/assets/img/services/items-mackbook/wymiana-obudowy.png">
            </div>
            <div class="col-9 col-md-3">
                <h3 class="h5">
                    Wymiana obudowy {{ title }}
                </h3>
                <p class="mt-4">
                    Cena: {{ wymiana_obudowy }}
                </p>
            </div>
            <div class="col-md-5">
                <p class="mt-4">
                  Twoja obudowa jest zniszczona? Wymień ją na nową w ITech!
                </p>
            </div>
            <div class="col-md-2">
                <p class="mt-4">
                    <a href="/zglos.php" class="button">Zamów</a>
                </p>
            </div>
        </div>

        <div class="row gx-5 service-item">
            <div class="col-3 col-md-2">
                <img src="/assets/img/services/items-mackbook/wymiana-touchpad.png">
            </div>
            <div class="col-9 col-md-3">
                <h3 class="h5">
                   Wymiana TouchPad {{ title }}
                </h3>
                <p class="mt-4">
                    Cena: {{ wymiana_touch_pad }}
                </p>
            </div>
            <div class="col-md-5">
                <p class="mt-4">
                   Twój TouchPad przestał działać? Wymień go na nowy w ITech!
                </p>
            </div>
            <div class="col-md-2">
                <p class="mt-4">
                    <a href="/zglos.php" class="button">Zamów</a>
                </p>
            </div>
        </div>

        <div class="row gx-5 service-item">
            <div class="col-3 col-md-2">
                <img src="/assets/img/services/items-mackbook/wymiana-klawiatury.png">
            </div>
            <div class="col-9 col-md-3">
                <h3 class="h5">
                    Wymiana klawiatury {{ title }}
                </h3>
                <p class="mt-4">
                    Cena: {{ naprawa_oprogramowania }}
                </p>
            </div>
            <div class="col-md-5">
                <p class="mt-4">
                    Twoja klawiatura przestała działać po zalaniu albo uszkodzeniu mechanicznym? Wymień ją na nową w ITech!
                </p>
            </div>
            <div class="col-md-2">
                <p class="mt-4">
                    <a href="/zglos.php" class="button">Zamów</a>
                </p>
            </div>
        </div>

        <div class="row gx-5 service-item">
            <div class="col-3 col-md-2">
                <img src="/assets/img/services/items-mackbook/wymiana-ukladu-graficznego.png">
            </div>
            <div class="col-9 col-md-3">
                <h3 class="h5">
                    Wymiana układu graficznego BGA w {{ title }}
                </h3>
                <p class="mt-4">
                    Cena: {{ wymiana_ukladu_graficznego }}
                </p>
            </div>
            <div class="col-md-5">
                <p class="mt-4">
                   Na ekranie twojego laptopa pojawiają się paski? Masz problem z zainstalowaniem sterowników? Uszkodzeniu uległ układ graficzny BGA. Specjaliści w ITech wykonają reballing twojego układu graficznego!
                </p>
            </div>
            <div class="col-md-2">
                <p class="mt-4">
                    <a href="/zglos.php" class="button">Zamów</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-2 col-md-8">
                {{ content | safe }}
            </div>
        </div>

    </div>
</section>

{% include "partials/foot.njk" %}
{% include "partials/footer.njk" %}