{% include 'partials/head.njk' %}
{% include 'partials/header.njk' %}

<section class="pt-small pb-large">
    <div class="container">

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                    <div class="single-post-title-wrap">
                        <div class="breacrumbs">
                            <a href="/">
                                Główna
                            </a>
                            <span>
                                | 
                            </span>
                            <a href="/cennik-napraw/">
                                Naprawy
                            </a>
                            <span>
                                |
                            </span>
                            <span>
                                {{ title }}
                            </span>
                        </div>
                        <h1 class="single-post-title mt-4 mb-5">
                            {{ title }}
                        </h1>
                    </div>
            </div>
        </div>

        <div class="sticky">
            <img src="{{ thumbnail }}" class="mb-3" alt="{{ title }}"/>
         </div>

        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="content">
                    {{ content | safe }}
                </div>
            </div>
        </div>


    </div>
</section>

{% include "partials/foot.njk" %}
{% include "partials/footer.njk" %}