{% include 'partials/head.njk' %}
{% include 'partials/header.njk' %}

<section class="pt-medium pb-large">
    <div class="container">

        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="single-post-title-wrap">
                    <div class="breacrumbs">
                        <a href="/">
                            Główna
                        </a>
                        <span>
                                | 
                        </span>
                        <a href="/naprawa">
                            Naprawa
                            </a>
                        <span>
                                |
                        </span>
                        <span>
                            {{ title }}
                        </span>
                    </div>
                    <h1 class="single-post-title mt-4 mb-5">
                        Naprawa {{ title }}
                    </h1>
                </div>
            </div>
        </div>

        <div class="row gx-5 service-item">
            <div class="col-3 col-md-2">
                <img src="/assets/img/services/watch.png">
            </div>
            <div class="col-9 col-md-3">
                <h3 class="h5">
                    Naprawa braku obrazu {{ title }}
                </h3>
                <p class="mt-4">
                    Cena: {{ naprawa_braku_obrazu }} zł
                </p>
            </div>
            <div class="col-md-5">
                <p class="mt-4">
                    Twój iPhone wydaje z siebie różne dźwięki, a ekran czarny jak noc? Telefon dzwoni, a ty nie wiesz kto i po co? A może sen z powiek spędza ci natrętny budzik, którego nie możesz wyłączyć, bo przecież jak? Nie martw się, twój iPhone ma się dobrze. Wystarczy naprawa braku obrazu w naszym serwisie, byś znów mógł bez przeszkód przełączać budzik na drzemkę w nieskończoność.
                </p>
            </div>
            <div class="col-md-2">
                <p class="mt-4">
                    <a href="/zglos.php" class="button">Zamów</a>
                </p>
            </div>

        </div>
        
        <div class="row gx-5 service-item">
            <div class="col-3 col-md-2">
                <img src="/assets/img/services/watch.png">
            </div>
            <div class="col-9 col-md-3">
                <h3 class="h5">
                    Naprawa uszkodzonych ścieżek {{ title }}
                </h3>
                <p class="mt-4">
                    Cena: {{ naprawa_uszkodzonych_sciezek }} zł
                </p>
            </div>
            <div class="col-md-5">
                <p class="mt-4">
                    Po wymianie wyświetlacza w twoim iPhone dalej coś nie gra? Telefon nie włącza się, nie ma obrazu? Czasem przy samodzielnie wykonywanych naprawach, można włożyć „nie tą śrubkę w nie ten gwint” i przebić płytę główną, za czym idzie uszkodzenie ścieżek na płycie. ITech pomoże ci naprawić błędy przeszłości!
                </p>
            </div>
            <div class="col-md-2">
                <p class="mt-4">
                    <a href="/zglos.php" class="button">Zamów</a>
                </p>
            </div>
        </div>

        <div class="row gx-5 service-item">
            <div class="col-3 col-md-2">
                <img src="/assets/img/services/watch.png">
            </div>
            <div class="col-9 col-md-3">
                <h3 class="h5">
                    Naprawa układu audio IC - Brak dźwięku {{ title }}
                </h3>
                <p class="mt-4">
                    Cena: {{ naprawa_ukladu_audio }} zł
                </p>
            </div>
            <div class="col-md-5">
                <p class="mt-4">
                   Twój iPhone stał się głucho-niemy? Jeśli nie masz możliwości włączenia trybu głośnomówiącego i nie działa ci dyktafon, a ponadto głośniki i mikrofony nie dają znaku życia, to z pewnością uszkodzeniu uległ układ audio w twoim telefonie. Masz szczęście, bo nasi specjaliści od Apple w ITech robią takie naprawy z zamkniętymi oczami!
                </p>
            </div>
            <div class="col-md-2">
                <p class="mt-4">
                    <a href="/zglos.php" class="button">Zamów</a>
                </p>
            </div>
        </div>

        <div class="row gx-5 service-item">
            <div class="col-3 col-md-2">
                <img src="/assets/img/services/watch.png">
            </div>
            <div class="col-9 col-md-3">
                <h3 class="h5">
                    Naprawa układu WIFI Bluetooth {{ title }}
                </h3>
                <p class="mt-4">
                    Cena: {{ naprawa_wifi_bluetooth }} zł
                </p>
            </div>
            <div class="col-md-5">
                <p class="mt-4">
                    Twój iPhone wydaje z siebie różne dźwięki, a ekran czarny jak noc? Telefon dzwoni, a ty nie wiesz kto i po co? A może sen z powiek spędza ci natrętny budzik, którego nie możesz wyłączyć, bo przecież jak? Nie martw się, twój iPhone ma się dobrze. 
                </p>
            </div>
            <div class="col-md-2">
                <p class="mt-4">
                    <a href="/zglos.php" class="button">Zamów</a>
                </p>
            </div>
        </div>

        <div class="row gx-5 service-item">
            <div class="col-3 col-md-2">
                <img src="/assets/img/services/watch.png">
            </div>
            <div class="col-9 col-md-3">
                <h3 class="h5">
                   Naprawa układu GSM - Baseband/Brak sieci {{ title }}
                </h3>
                <p class="mt-4">
                    Cena: {{ naprawa_ukladu_gsm_brak_sieci }} zł
                </p>
            </div>
            <div class="col-md-5">
                <p class="mt-4">
                    Twój iPhone ma problem z zasięgiem? A może wcale nie wykrywa karty? To może oznaczać, że konieczna jest naprawa układu GSM/Baseband. Zapraszamy do naszego serwisu!
                </p>
            </div>
            <div class="col-md-2">
                <p class="mt-4">
                    <a href="/zglos.php" class="button">Zamów</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-2 col-md-8">
                {{ content | safe }}
            </div>
        </div>

    </div>
</section>

{% include "partials/foot.njk" %}
{% include "partials/footer.njk" %}