--- 
layout: 'layouts/base.njk'
title: Serwis tabletów
description: Opis
---

<section class="pt-small">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="single-post-title-wrap">
                    <div class="breacrumbs">
                        <a href="/">
                                Główna
                            </a>
                        <span>
                                |
                            </span>
                        <span>
                            {{ title }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-about pt-xsmall pb-md-medium">
    <div class="container lines-right">
        <div class="row flex-md-row-reverse">
            <div class="offset-md-1 col-md-6">
                <div class="glide about-slider">
                    <div class="glide__track" data-glide-el="track">
     <ul class="glide__slides">
                            <li class="glide__slide">
                                {% Image "src/assets/img/services/tablet-1.png", "ITech - Serwis Apple Otwock" %}
                            </li>
                            <li class="glide__slide">
                                {% Image "src/assets/img/services/tablet-2.png", "ITech - Serwis Apple Otwock" %}
                            </li>                     
                        </ul>
                    </div>
                </div> 
            </div>
            <div class="col-md-5 d-flex align-items-center">
                <div>
                    <h2 class="h1 mt-3 color-accent uppercase">
                        {{ title }}
                    </h2>
                    <p>
                        W naszym serwisie tabletów zadaniem naszego zespołu jest przywrócenie pełnej funkcjonalności Twojego urządzenia.
                    </p>
                    <p>
                        Specjalizujemy się w kompleksowej obsłudze napraw, obejmującej wymianę ekranów, baterii, portów ładowania oraz rozwiązywanie problemów z oprogramowaniem. Dzięki naszemu doświadczeniu i wysokiej jakości częściom zastępczym, zapewniamy szybkie i skuteczne naprawy, które przywrócą Twojemu tabletowi sprawność i wydajność.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pb-large lines-left">
    <div class="container">
        <div class="text-center">
            <h2 class="color-accent uppercase">
                U nas naprawisz
            </h2>
        </div>
        <div class="col-md-12 mx-auto">
            {% for post in collections.services_tablet %}
            <div class="row gx-5 align-items-center pt-small">
                <div class="col-12 col-md-6">
                    <a href="{{ post.url }}">
                        <div class="services-card">
                            <h3 class="h5 uppercase">{{ post.data.title }}</h3>
                            <p>{{ post.data.description }}</p>
                            <a href="{{ post.url }}" class="button mt-4">
                                Zobacz więcej
                            </a>
                        </div>
                        </a>
                </div>
                <div class="col-12 col-md-6">
                        <div class="services-card">
                            <img src="{{ post.data.thumbnail }}" class="mb-3" alt="{{ post.data.title }}"/>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include "sections/banner-contact.njk" %}