--- 
layout: 'layouts/base.njk'
title: Serwis urządzeń 
description: Opis
---

<section class="section-contact pt-small pb-large">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div class="single-post-title-wrap">
                    <div class="breacrumbs">
                        <a href="/">
                                Główna
                            </a>
                        <span>
                                |
                            </span>
                        <span>
                            {{ title }}
                        </span>
                    </div>
                    <h1 class="single-post-title mt-4 mb-3">
                        {{ title }}
                    </h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h2>
                    Usługi Serwisu i Naprawy Sprzętu Mobilnego w Otwocku
                </h2>


                <p>
                    W Mobile Szop dbamy o Twoje urządzenia mobilne, oferując profesjonalną opiekę i szybką naprawę dostępną już w ciągu 15 minut od dostarczenia do naszego serwisu.
                </p>
                <p>
                    Specjalizujemy się w wymianie uszkodzonych ekranów w telefonach i tabletach różnych renomowanych producentów, takich jak Apple iPhone, Samsung, Sony, Nokia, Microsoft, Huawei, LG, Xiaomi, Lenovo i Motorola. Dzięki naszemu doświadczeniu jesteśmy w stanie skutecznie naprawić urządzenia z uszkodzonymi ekranami w zaledwie 2 godziny. Jeśli zależy Ci na szybkiej wymianie baterii w telefonie, nasi wyspecjalizowani technicy są gotowi do natychmiastowej zamiany.
                </p>
                <p>
                    Zapraszamy do naszego punktu serwisowego w Otwocku, przy ulicy Świderskiej 2/4 pawilon 22, na bazarku Rampa, gdzie przyjmujemy zamówienia osobiście. Oferujemy również usługę DOOR TO DOOR, umożliwiającą wysyłkową naprawę sprzętu mobilnego, która zajmuje maksymalnie 24 godziny. Dlatego, jeśli jesteś poza Otwockiem, nasze kompleksowe usługi serwisowe są doskonałym rozwiązaniem.
                </p>
                <p>
                    Wprowadziliśmy naprawy wysyłkowe od 2021 roku, co umożliwia klientom z całego obszaru korzystanie z naszych usług. Bez względu na to, czy jesteś klientem indywidualnym odwiedzającym nas osobiście, czy korzystasz z naszej usługi DOOR TO DOOR (D2D), zapewniamy równorzędne podejście do obsługi. Działamy zgodnie z zasadą FIFO (First In, First Out), co oznacza, że wszystkie zlecenia są obsługiwane w kolejności ich otrzymania. Niezależnie od tego, czy dostarczasz swoje urządzenie osobiście, czy korzystasz z naszej usługi wysyłkowej, gwarantujemy sprawiedliwe i efektywne podejście do obsługi zgłoszeń.
                </p>
                <p>
                    <strong>A co najważniejsze, gwarantujemy sprawną naprawę Twojego urządzenia, a po udanej naprawie otrzymasz gwarancję obejmującą okres od 3 do 6 miesięcy.</strong>
                </p>
                <h2>
                    Wysyłkowa Naprawa Telefonów na Terenie Całej Polski
                </h2>
                <p>
                    Mobile Szop, specjalizująca się w profesjonalnej naprawie telefonów komórkowych w Otwocku, oferuje usługę wysyłkowej naprawy telefonów, działającą zgodnie z poniższymi krokami:
                </p>
                <ul class="it-list"> 
                    <li>
                        1. Skontaktuj się z nami telefonicznie.
                    </li>
                    <li>
                        2. Ustalimy preferowany sposób odbioru - poprzez kuriera lub paczkomaty InPost.
                    </li>
                    <li>
                        3. Umówimy się na dogodną godzinę odbioru paczki.
                    </li>
                    <li>
                        4. Wygenerujemy list przewozowy i prześlemy go na Twój adres e-mailowy.
                    </li>
                    <li>
                        5. Rozpoczniemy naprawę telefonu, którą zakończymy w ciągu 24  godzin.*
                    </li>
                    <li>
                        6. Ustalimy termin wysyłki z powrotem do Ciebie.
                    </li>
                    <li>
                        7. Płatność może być dokonana na konto firmowe lub kurierowi przy odbiorze.
                    </li>
                </ul>
                <p><small>
                   * może ulec zmianie
                </small></p>
                <p>
                    <strong>
                        Oferujemy okres od 3 do 6 miesięcy gwarancji na wykonaną naprawę. Nasza usługa wysyłkowa obejmuje obszar całej Polski, zapewniając profesjonalną opiekę nad Twoim urządzeniem niezależnie od lokalizacji.
                    </strong>
                </p>
                <h2>
                    WARUNKI NAPRAWY WYSYŁKOWEJ
                </h2>
                <p>
                    Naprawione urządzenia są odsyłane w ciągu 24 godzin roboczych od chwili ich dostarczenia. W przypadku telefonów, które trafiają do serwisu w pierwszej połowie dnia, zazwyczaj są one odsyłane następnego dnia do Klienta.
                </p>
                <p>
                    W przypadku wykrycia dodatkowych usterek podczas procesu naprawy, skontaktujemy się z Klientem przed przystąpieniem do ich usuwania.
                </p>
                <p>
                    W kwestiach związanych z usługą Door to Door, prosimy o kontakt telefoniczny pod numerem:     691-949-189.  Jesteśmy do Państwa dyspozycji.
                </p>
                <p>
                    <strong>Dziękujemy za zaufanie i wybór naszych usług.</strong>
                </p>
            </div>
            <div class="col-md-4">
               
            </div>
        </div>

    </div>
</section>

{% include "sections/banner-contact.njk" %}