
.site-footer {
    padding: 90px 0 80px;
    background: var(--color-dark-1);
}

.footer-logo {
    width: 78%
}

.footer-nav ul {
    margin-top: 0;
    padding-left: 0
}

.footer-nav ul li {
    padding-left: 0;
    margin-bottom: 2em;
    list-style: none;
}

.footer-nav ul li {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--color-light-1);
}

.site-footer p,
.site-footer span {
    color: var(--color-light-1);
}

.site-footer p {
    opacity: .75
}

.social-links-wrap {
    margin-top: 40px;
    margin-bottom: 40px
}

.social-link {
    display: inline-block;
    margin-left: 0;
    margin-right: 10px
}

.social-link svg {
    width: 34px;
    height: 34px;
    stroke: #fff;
    fill: transparent;
    transition: .2s ease-in-out
}

.social-link svg path {
    transition: .2s ease-in-out
}

.social-link:hover svg {
    stroke-width: 2px;
    stroke: var(--color-accent-1)
}

.social-link:hover svg path {
    stroke: var(--color-accent-1)
}

@media(min-width:767px) {
    .social-link {
        display: inline-block;
        margin-left: 20px;
        margin-right: 0
    }
}