<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/glide.js"></script>
<script>
  if (document.querySelector('.about-slider')) {
  var glideMulti = new Glide('.about-slider', {
      type: 'slider',
      autoplay: 4000,
      perView: 1
    });
  };
  if (document.querySelector('.how-we-work-slider')) {
    var glideMulti2 = new Glide('.how-we-work-slider', {
      type: 'slider',
      autoplay: 4000,
      perView: 1
    });
  };

  if (document.querySelector('.latest-posts-slider')) {
    var glideMulti4 = new Glide('.latest-posts-slider', {
      type: 'carousel',
      autoplay: 4000,
      perView: 3,
      gap: 30,
      breakpoints: {
        1024: {
          perView: 2,
          },
        768: {
          perView: 1,
          }
        }
    });
  };

  if (document.querySelector('.reviews-slider')) {
    var glideMulti5 = new Glide('.reviews-slider', {
      type: 'carousel',
      autoplay: 4000,
      perView: 3.5,
      gap: 30,
      breakpoints: {
        1024: {
          perView: 3.5,
          },
        768: {
          perView: 1.1,
          }
        }
    });
  };
glideMulti.mount();
glideMulti2.mount();

glideMulti4.mount();
glideMulti5.mount();
</script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/cookieconsent.js"></script>
<script src="/assets/js/cookieconsent-init.js"></script>


<script>
  if (window.netlifyIdentity) {
  window.netlifyIdentity.on("init", user => {
  if (!user) {
   window.netlifyIdentity.on("login", () => {
      document.location.href = "/admin/";
  });
  }
  });
  }
</script>

</body>
</html>