<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Mobile Szop Otwock</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:url" content="{{ page.url }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image" content="/assets/img/opengraph.png"/>

      <!-- Facebook Meta Tags -->
  <meta property="og:url" content="/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="/assets/img/opengraph.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="">
  <meta property="twitter:url" content="/">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="/assets/img/opengraph.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.core.css"/>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}"/>
    <link rel="stylesheet" href="/assets/css/cookieconsent.css" media="print" onload="this.media='all'">
    <style>
      @font-face {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        src: url("/assets/fonts/nunito-sans-v12-latin-ext_latin-regular.eot");
        src: local(''), url("/assets/fonts/nunito-sans-v12-latin-ext_latin-regular.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/nunito-sans-v12-latin-ext_latin-regular.woff2") format('woff2'), url("/assets/fonts/nunito-sans-v12-latin-ext_latin-regular.woff") format('woff'), url("/assets/fonts/nunito-sans-v12-latin-ext_latin-regular.ttf") format('truetype'), url("/assets/fonts/nunito-sans-v12-latin-ext_latin-regular.svg#NunitoSans") format('svg');
      }
      @font-face {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 600;
        src: url("/assets/fonts/nunito-sans-v12-latin-ext_latin-600.eot");
        src: local(''), url("/assets/fonts/nunito-sans-v12-latin-ext_latin-600.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/nunito-sans-v12-latin-ext_latin-600.woff2") format('woff2'), url("/assets/fonts/nunito-sans-v12-latin-ext_latin-600.woff") format('woff'), url("/assets/fonts/nunito-sans-v12-latin-ext_latin-600.ttf") format('truetype'), url("/assets/fonts/nunito-sans-v12-latin-ext_latin-600.svg#NunitoSans") format('svg');
      }
      @font-face {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        src: url("/assets/fonts/nunito-sans-v12-latin-ext_latin-700.eot");
        src: local(''), url("/assets/fonts/nunito-sans-v12-latin-ext_latin-700.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/nunito-sans-v12-latin-ext_latin-700.woff2") format('woff2'), url("/assets/fonts/nunito-sans-v12-latin-ext_latin-700.woff") format('woff'), url("/assets/fonts/nunito-sans-v12-latin-ext_latin-700.ttf") format('truetype'), url("/assets/fonts/nunito-sans-v12-latin-ext_latin-700.svg#NunitoSans") format('svg');
      }
    </style>
  </head>
  <body>