--- 
layout: 'layouts/base.njk'
title: Naprawa telefonów, tabletów, laptopów i komputerów. Otwock i okolice
description: Oferujemy profesjonalny serwis komputerów, laptopów, tabletów i telefonów. Posiadamy wiedzę i doświadczenie potrzebne do skutecznej naprawy i konserwacji. Otwock i okolice
---


{% include "sections/hero.njk" %}
{% include "sections/reviews.njk" %}
{% include "sections/about.njk" %}
{% include "sections/services.njk" %}
{% include "sections/how-we-work.njk" %}

{% include "sections/banner-contact.njk" %}
{% include "sections/latest-posts.njk" %}

<!--
{% include "sections/faq.njk" %}
-->

