--- 
layout: 'layouts/base.njk'
title: Wysłano formularz
description: Opis
---

<section class="section-contact pt-small pb-large">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div class="single-post-title-wrap">
                    <div class="breacrumbs">
                        <a href="/">
                                Główna
                            </a>
                        <span>
                                |
                            </span>
                        <span>
                            {{ title }}
                        </span>
                    </div>
                    <h1 class="single-post-title mt-4 mb-5">
                        {{ title }}
                    </h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="contact-form-wrap">
                    <h2 class="h4 mb-5">Twoja wiadomość została wysłana. Otrzymasz odpowiedź najszybciej jak to możliwe.</h3>                
                </div>
            </div>

        </div>

    </div>
</section>