<section class="section-banner-contact pt-small pb-medium">
    <div class="container">
        <div class="row">
            <div class="offset-md-7 col-md-5">
                <h2 class="color-accent uppercase">
                Nie czekaj, zadzwoń lub napisz
                </h2>
                <p>
                Potrzebujesz pomocy? Nie trać czasu! Skontaktuj się z nami już teraz! Bez względu na problem, odpowiedziemy na Twoje pytania, rozwiążemy problemy techniczne i udzielimy wsparcia. Nie czekaj dłużej - jesteśmy tu, aby Ci pomóc!
                </p>
                <a href="/kontakt/" class="button">Skontaktuj się</a>
            </div>
        </div>
    </div>
</section> 