<section class="section-about pt-small pb-medium">
    <div class="container">
        <div class="">
            <h2 class="color-accent uppercase">
                Pytania i odpowiedzi
            </h2>
            <p>
                Tutaj znajdziesz odpowiedzi na najczęściej zadawane pytania.
            </p>
        </div>
        <div class="accordion-wrap row">

            <div class="col-md-6">
                <div class="item mt-4">
                    <div class="accordion">
                        <div class="h5 title">Naprawa urządzeń iPhone iMac iPad iWatch Macbook</div>
                        <div class="icon"></div>
                    </div>
                    <div class="panel">
                        <p>
                           Lorem ipsum dolor sit amet consectetur. Imperdiet odio dictum risus commodo nec faucibus. A hac diam tellus integer pharetra ut. 
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="accordion">
                        <div class="h5 title">Naprawa urządzeń iPhone iMac iPad iWatch Macbook</div>
                        <div class="icon"></div>
                    </div>
                    <div class="panel">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Imperdiet odio dictum risus commodo nec faucibus. A hac diam tellus integer pharetra ut. 
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="accordion">
                        <div class="h5 title">Naprawa urządzeń iPhone iMac iPad iWatch Macbook</div>
                        <div class="icon"></div>
                    </div>
                    <div class="panel">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Imperdiet odio dictum risus commodo nec faucibus. A hac diam tellus integer pharetra ut. 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="item mt-4">
                    <div class="accordion">
                        <div class="h5 title">Naprawa urządzeń iPhone iMac iPad iWatch Macbook</div>
                        <div class="icon"></div>
                    </div>
                    <div class="panel">
                        <p>
                          Lorem ipsum dolor sit amet consectetur. Imperdiet odio dictum risus commodo nec faucibus. A hac diam tellus integer pharetra ut. 
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="accordion">
                        <div class="h5 title">Naprawa urządzeń iPhone iMac iPad iWatch Macbook</div>
                        <div class="icon"></div>
                    </div>
                    <div class="panel">
                        <p>
                          Lorem ipsum dolor sit amet consectetur. Imperdiet odio dictum risus commodo nec faucibus. A hac diam tellus integer pharetra ut. 
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="accordion">
                        <div class="h5 title">Naprawa urządzeń iPhone iMac iPad iWatch Macbook</div>
                        <div class="icon"></div>
                    </div>
                    <div class="panel">
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Imperdiet odio dictum risus commodo nec faucibus. A hac diam tellus integer pharetra ut. 
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>