<section class="pt-small pb-medium lines-left">
    <div class="container">
        <div class="text-center">
            <h2 class="uppercase color-accent">
                Przykładowe naprawy
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur. Imperdiet odio dictum risus commodo nec faucibus. A hac diam
                tellus integer pharetra ut.
            </p>
        </div>
        <div id="wrapper">
            <div class="content">
                <!-- Tab links -->
                <div class="tabs mb-5">
                    <button class="tablinks active" data-item="item-1" aria-label="Tab button 1">
                        <p>Komputer</p>
                    </button>
                    <button class="tablinks" data-item="item-2" aria-label="Tab button 2">
                        <p>Laptop</p>
                    </button>
                    <button class="tablinks" data-item="item-3" aria-label="Tab button 3">
                        <p>Tablet</p>
                    </button>
                    <button class="tablinks" data-item="item-4" aria-label="Tab button 4">
                        <p>Telefon</p>
                    </button>
                </div>

                <!-- Tab content -->
                <div class="wrapper_tabcontent">
                    <div id="item-1" class="tabcontent active">
                        {% for post in collections.services_computer.slice(0, 3) %}
                        {% set index = loop.index + 1 %}
                        <div class="row gx-5 align-items-center pt-small">
                            <div class="col-12 offset-md-1 col-md-5">
                                <div class="services-card">
                                    <h3 class="h5 uppercase mb-4">{{ post.data.title }}</h3>
                                    <p>{{ post.data.description }}</p>

                                    <a href="{{ post.url }}">
                                        Zobacz więcej
                                    </a><br />
                                    <button data-modal="modal-{{ index }}" class="button mt-4">
                                        Zamów naprawę
                                    </button>

                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="services-card">
                                    <img src="{{ post.data.thumbnail }}" class="mb-3" alt="{{ post.data.title }}" />
                                </div>
                            </div>
                        </div>

                        <div class="modal" id="modal-{{ index }}">
                            <div class="modal-bg modal-exit"></div>
                            <div class="modal-container">
                                <h3>{{ post.data.title }}</h3>
                                <form id="serviceForm"
                                    action="https://www.futurewebstudio.pl/form/forms/serviceForm.php" method="POST">

                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_name" required
                                                    placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Imię</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_surname"
                                                    required placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Nazwisko</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_field"
                                                    placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Adres email</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_phone" required
                                                    placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Telefon</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="floating-label">
                                                <textarea class="floating-input floating-textarea" name="visitor_msg"
                                                    placeholder=" "></textarea>
                                                <span class="highlight"></span>
                                                <label>Uwagi</label>
                                            </div>
                                        </div>
                                        <div class="relative pt-20">
                                            <div class="form-accept mb-3">
                                                <input type="checkbox" name="accept-form" id="accept-form"
                                                    placeholder="Wyrażam zgodę na przetwarzanie danych przez ITech ">
                                                <label for="accept-form">Wyrażam zgodę na przetwarzanie danych przez
                                                    ITech w celu przedstawienia oferty handlowej</label>
                                            </div>
                                            <div id="send_service_form_status" class="absolute top-2"></div>
                                            <input class="wa-button btn-gradient" type="submit" value="Zamów naprawę"
                                                name="accept-form">

                                        </div>
                                    </div>

                                </form>
                                <span class="modal-close modal-exit">X</span>
                            </div>
                        </div>

                        {% endfor %}
                        <div class="text-center">
                            <a href="/cennik-napraw/serwis-komputerow/" class="button">Zobacz wszystko</a>
                        </div>
                    </div>
                    <div id="item-2" class="tabcontent">
                        {% for post in collections.services_laptop.slice(0, 3) %}
                        <div class="row gx-5 align-items-center pt-small">
                            <div class="col-12 offset-md-1 col-md-5">
                                <a href="{{ post.url }}">
                                    <div class="services-card">
                                        <h3 class="h5 uppercase mb-4">{{ post.data.title }}</h3>
                                        <p>{{ post.data.description }}</p>
                                        <a href="{{ post.url }}">
                                            Zobacz więcej
                                        </a><br />
                                        <button data-modal="modal-{{ index }}" class="button mt-4">
                                            Zamów naprawę
                                        </button>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="services-card">
                                    <img src="{{ post.data.thumbnail }}" class="mb-3" alt="{{ post.data.title }}" />
                                </div>
                            </div>
                        </div>
                        <div class="modal" id="modal-{{ index }}">
                            <div class="modal-bg modal-exit"></div>
                            <div class="modal-container">
                                <h3>{{ post.data.title }}</h3>
                                <form id="serviceForm"
                                    action="https://www.futurewebstudio.pl/form/forms/serviceForm.php" method="POST">

                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_name" required
                                                    placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Imię</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_surname"
                                                    required placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Nazwisko</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_field"
                                                    placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Adres email</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_phone" required
                                                    placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Telefon</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="floating-label">
                                                <textarea class="floating-input floating-textarea" name="visitor_msg"
                                                    placeholder=" "></textarea>
                                                <span class="highlight"></span>
                                                <label>Uwagi</label>
                                            </div>
                                        </div>
                                        <div class="relative pt-20">
                                            <div class="form-accept mb-3">
                                                <input type="checkbox" name="accept-form" id="accept-form"
                                                    placeholder="Wyrażam zgodę na przetwarzanie danych przez ITech ">
                                                <label for="accept-form">Wyrażam zgodę na przetwarzanie danych przez
                                                    ITech w celu przedstawienia oferty handlowej</label>
                                            </div>
                                            <div id="send_service_form_status" class="absolute top-2"></div>
                                            <input class="wa-button btn-gradient" type="submit" value="Zamów naprawę"
                                                name="accept-form">

                                        </div>
                                    </div>

                                </form>
                                <span class="modal-close modal-exit">X</span>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="text-center">
                            <a href="/cennik-napraw/serwis-laptopow/" class="button">Zobacz wszystko</a>
                        </div>
                    </div>
                    <div id="item-3" class="tabcontent">
                        {% for post in collections.services_tablet.slice(0, 3) %}
                        <div class="row gx-5 align-items-center pt-small">
                            <div class="col-12 offset-md-1 col-md-5">
                                <a href="{{ post.url }}">
                                    <div class="services-card">
                                        <h3 class="h5 uppercase mb-4">{{ post.data.title }}</h3>
                                        <p>{{ post.data.description }}</p>
                                        <a href="{{ post.url }}">
                                            Zobacz więcej
                                        </a><br />
                                        <button data-modal="modal-{{ index }}" class="button mt-4">
                                            Zamów naprawę
                                        </button>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="services-card">
                                    <img src="{{ post.data.thumbnail }}" class="mb-3" alt="{{ post.data.title }}" />
                                </div>
                            </div>
                        </div>
                        <div class="modal" id="modal-{{ index }}">
                            <div class="modal-bg modal-exit"></div>
                            <div class="modal-container">
                                <h3>{{ post.data.title }}</h3>
                                <form id="serviceForm"
                                    action="https://www.futurewebstudio.pl/form/forms/serviceForm.php" method="POST">

                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_name" required
                                                    placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Imię</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_surname"
                                                    required placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Nazwisko</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_field"
                                                    placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Adres email</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_phone" required
                                                    placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Telefon</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="floating-label">
                                                <textarea class="floating-input floating-textarea" name="visitor_msg"
                                                    placeholder=" "></textarea>
                                                <span class="highlight"></span>
                                                <label>Uwagi</label>
                                            </div>
                                        </div>
                                        <div class="relative pt-20">
                                            <div class="form-accept mb-3">
                                                <input type="checkbox" name="accept-form" id="accept-form"
                                                    placeholder="Wyrażam zgodę na przetwarzanie danych przez ITech ">
                                                <label for="accept-form">Wyrażam zgodę na przetwarzanie danych przez
                                                    ITech w celu przedstawienia oferty handlowej</label>
                                            </div>
                                            <div id="send_service_form_status" class="absolute top-2"></div>
                                            <input class="wa-button btn-gradient" type="submit" value="Zamów naprawę"
                                                name="accept-form">

                                        </div>
                                    </div>

                                </form>
                                <span class="modal-close modal-exit">X</span>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="text-center">
                            <a href="/cennik-napraw/serwis-tabletow/" class="button">Zobacz wszystko</a>
                        </div>
                    </div>
                    <div id="item-4" class="tabcontent">
                        {% for post in collections.services_phone.slice(0, 3) %}
                        <div class="row gx-5 align-items-center pt-small">
                            <div class="col-12 offset-md-1 col-md-5">
                                <div class="services-card">
                                    <h3 class="h5 uppercase mb-4">{{ post.data.title }}</h3>
                                    <p>{{ post.data.description }}</p>
                                    <a href="{{ post.url }}">
                                        Zobacz więcej
                                    </a><br />
                                    <button data-modal="modal-{{ index_phone }}" class="button mt-4">
                                        Zamów naprawę
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="services-card">
                                    <img src="{{ post.data.thumbnail }}" class="mb-3" alt="{{ post.data.title }}" />
                                </div>
                            </div>
                        </div>
                        <div class="modal" id="modal-{{ index_phone }}">
                            <div class="modal-bg modal-exit"></div>
                            <div class="modal-container">
                                <h3>{{ post.data.title }}</h3>
                                <form id="serviceForm"
                                    action="https://www.futurewebstudio.pl/form/forms/serviceForm.php" method="POST">

                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_name" required
                                                    placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Imię</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_surname"
                                                    required placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Nazwisko</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_field"
                                                    placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Adres email</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="floating-label">
                                                <input class="floating-input" type="text" name="visitor_phone" required
                                                    placeholder=" ">
                                                <span class="highlight"></span>
                                                <label>Telefon</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="floating-label">
                                                <textarea class="floating-input floating-textarea" name="visitor_msg"
                                                    placeholder=" "></textarea>
                                                <span class="highlight"></span>
                                                <label>Uwagi</label>
                                            </div>
                                        </div>
                                        <div class="relative pt-20">
                                            <div class="form-accept mb-3">
                                                <input type="checkbox" name="accept-form" id="accept-form"
                                                    placeholder="Wyrażam zgodę na przetwarzanie danych przez ITech ">
                                                <label for="accept-form">Wyrażam zgodę na przetwarzanie danych przez
                                                    ITech w celu przedstawienia oferty handlowej</label>
                                            </div>
                                            <div id="send_service_form_status" class="absolute top-2"></div>
                                            <input class="wa-button btn-gradient" type="submit" value="Zamów naprawę"
                                                name="accept-form">

                                        </div>
                                    </div>

                                </form>
                                <span class="modal-close modal-exit">X</span>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="text-center">
                            <a href="/cennik-napraw/serwis-telefonow/" class="button">Zobacz wszystko</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>