<section class="pt-small pb-medium lines-left">
    <div class="container">
        <div class="text-center">
            <h2 class="uppercase color-accent">
                Przykładowe naprawy
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur. Imperdiet odio dictum risus commodo nec faucibus. A hac diam tellus integer pharetra ut.
            </p>
        </div>
            <div id="wrapper">
                <div class="content">
                     <!-- Tab links -->
                     <div class="tabs mb-5">
                        <button class="tablinks active" data-item="item-1" aria-label="Tab button 1">
                            <p>Komputer</p>
                        </button>
                        <button class="tablinks" data-item="item-2" aria-label="Tab button 2">
                            <p>Laptop</p>
                        </button>
                        <button class="tablinks" data-item="item-3" aria-label="Tab button 3">
                            <p>Tablet</p>
                        </button>
                        <button class="tablinks" data-item="item-4" aria-label="Tab button 4">
                            <p>Telefon</p>
                        </button>
                    </div>

                    <!-- Tab content -->
                    <div class="wrapper_tabcontent">
                        <div id="item-1" class="tabcontent active">
                                {% for post in collections.services_computer.slice(0, 3) %}
                                <div class="row gx-5 align-items-center pt-small">
                                    <div class="col-12 offset-md-1 col-md-5">
                                            <div class="services-card">
                                                <h3 class="h5 uppercase mb-4">{{ post.data.title }}</h3>
                                                <p>{{ post.data.description }}</p>
                                                <a href="/kontakt" class="button mt-4">
                                                       Czytaj więcej
                                                </a>
                                            </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                            <div class="services-card">
                                                <img src="{{ post.data.thumbnail }}" class="mb-3" alt="{{ post.data.title }}"/>
                                            </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="text-center">
                                <a href="/cennik-napraw/serwis-komputerow/" class="button">Zobacz wszystko</a>
                                </div>
                        </div>
                        <div id="item-2" class="tabcontent">
                                {% for post in collections.services_laptop.slice(0, 3) %}
                                <div class="row gx-5 align-items-center pt-small">
                                    <div class="col-12 offset-md-1 col-md-5">
                                        <a href="{{ post.url }}">
                                        <div class="services-card">
                                            <h3 class="h5 uppercase mb-4">{{ post.data.title }}</h3>
                                            <p>{{ post.data.description }}</p>
                                            <a href="/kontakt" class="button mt-4">
                                                   Czytaj więcej
                                            </a>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6">
                                            <div class="services-card">
                                                <img src="{{ post.data.thumbnail }}" class="mb-3" alt="{{ post.data.title }}"/>
                                            </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="text-center">
                                <a href="/cennik-napraw/serwis-laptopow/" class="button">Zobacz wszystko</a>
                                </div>
                        </div>
                        <div id="item-3" class="tabcontent">
                                {% for post in collections.services_tablet.slice(0, 3) %}
                                <div class="row gx-5 align-items-center pt-small">
                                    <div class="col-12 offset-md-1 col-md-5">
                                        <a href="{{ post.url }}">
                                        <div class="services-card">
                                            <h3 class="h5 uppercase mb-4">{{ post.data.title }}</h3>
                                            <p>{{ post.data.description }}</p>
                                            <a href="/kontakt" class="button mt-4">
                                                   Czytaj więcej
                                            </a>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6">
                                            <div class="services-card">
                                                <img src="{{ post.data.thumbnail }}" class="mb-3" alt="{{ post.data.title }}"/>
                                            </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="text-center">
                                <a href="/cennik-napraw/serwis-tabletow/" class="button">Zobacz wszystko</a>
                                </div>
                        </div>
                        <div id="item-4" class="tabcontent">
                                {% for post in collections.services_phone.slice(0, 3) %}
                                <div class="row gx-5 align-items-center pt-small">
                                    <div class="col-12 offset-md-1 col-md-5">
                                        <a href="{{ post.url }}">
                                        <div class="services-card">
                                            <h3 class="h5 uppercase mb-4">{{ post.data.title }}</h3>
                                            <p>{{ post.data.description }}</p>
                                            <a href="/kontakt" class="button mt-4">
                                                Czytaj więcej
                                            </a>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6">
                                            <div class="services-card">
                                                <img src="{{ post.data.thumbnail }}" class="mb-3" alt="{{ post.data.title }}"/>
                                            </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="text-center">
                                    <a href="/cennik-napraw/serwis-telefonow/" class="button">Zobacz wszystko</a>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>